.button {
  appearance: none;
  border-color: white;
  width: fit-content;
  padding: 3px 30px;
  background-color: orangered;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  margin: 5px 10px;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  background-color: white;
  color: black;
}
