.contrast-check-nope {
  display: inline-block;
  padding: 2px 6px;
  background: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  border: 2px solid white;
}

.contrast-check-kinda {
  display: inline-block;
  padding: 2px 6px;
  background: #ff8000;
  color: rgb(0, 0, 0);
  border: 2px solid white;
}

.contrast-check-yup {
  display: inline-block;
  padding: 2px 6px;
  background: rgb(136, 204, 0);
  color: rgb(0, 0, 0);
  border: 2px solid white;
}
